/* Popup window */
* {
  margin: 0;
  padding: 0;
}

.popup-window {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.header-popup {
  width: 75%;
  height: 80%;
  background-color: white;
  padding: 10px;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 10%;
  border-radius: 30px;
  transform: translate(50%, -50%) scale(1);
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.6s, right 0.6s;
}

.background {
  background-color: gray;
}

.close-btn {
  font-weight: lighter;
  border: none;
  font-size: 25px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 31px;
  margin-top: 21px;
}

.add-task-h1 {
  font-size: 61px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 60px;
  margin-top: 40px;
}

.strich-gray3 {
  width: 1.5px;
  background-color: #DDDDDD;
  height: 62vh;
}

.first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.child-container-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 40%;
}

.child-container-left h4 {
  margin-bottom: 5px;
  font-weight: 400;
}

.child-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.child-container-right h4 {
  margin-bottom: 5px;
  font-weight: 400;
}

.right1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.right2 a {
  text-decoration: none;
  display: flex;
}

.title {
  width: 98%;
  height: 80%;
  border-radius: 10px;
  padding: 0px 2px 2px 12px;
  border: solid 1px;
  border-color: rgb(195, 189, 189);
  color: black;
}

.title:focus {
  outline: none;
}

.description {
  width: 98%;
  height: 90%;
  border-radius: 10px;
  padding: 10px 2px 2px 12px;
  border: solid 1px;
  border-color: rgb(195, 189, 189);
  resize: none;
}

.description:focus {
  outline: none;
}




.category {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: solid 1px;
  border-color: rgb(195, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  flex-direction: column;
  padding-top: 10px;
}

.category:focus {
  outline: none;
}

.select-tsk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  box-sizing: border-box;
  padding-right: 10px;
  padding-bottom: 8px;
}

.select-tsk h4 {
  margin-left: 14px !important;
}

.subfolder {
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
}

#new-category-container{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.subfolder h4 {
  margin-left: 10px;
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  gap: 10px;
}

.subfolder.hidden {
  display: none;
}

.subfolder:hover {
  background-color: rgba(0, 0, 0, 0.20);
}

.margin-null {
  margin: 0 !important;
  padding: 0 !important;
}





.category2 {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  gap: 10px;
  border: solid 1px;
  border-color: rgb(195, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  flex-direction: column;
  padding-top: 10px;
}

.category2:focus {
  outline: none;
}

.select-tsk2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  box-sizing: border-box;
  padding-right: 10px;
  padding-bottom: 8px;
}

.select-tsk2 h4 {
  margin-left: 14px !important;
}

.subfolder2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.subfolder2 h4 {
  margin-left: 10px;
  margin-top: 10px;
}

.subfolder2.hidden {
  display: none;
}

.subfolder2:hover {
  background-color: rgba(0, 0, 0, 0.20);
}

.margin-null {
  margin: 0 !important;
  padding: 0 !important;
}



.add-task-btn21 {
  width: 95px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 8px 40px 8px 40px;
  font-size: 15px;
}

.add-task-btn21:hover {
  transition: trasform ease-in-out 100ms;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.01) 0px 8px 4px, rgba(0, 0, 0, 0.01) 0px 6px 2px, rgba(0, 0, 0, 0.01) 0px 2px 2px;
}

.add-task-btn21:focus {
  background-color: #FF3D00;
  color: white;
  font-weight: 600;
}

.add-task-btn21:focus .change-color-white {
  filter: brightness(0) invert(1);
}

.add-task-btn23 {
  width: 95px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 8px 40px 8px 40px;
  font-size: 15px;
}

.add-task-btn23:hover {
  transition: trasform ease-in-out 100ms;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.01) 0px 8px 4px, rgba(0, 0, 0, 0.01) 0px 6px 2px, rgba(0, 0, 0, 0.01) 0px 2px 2px;
}

.add-task-btn23:focus {
  background-color: #7AE228;
  color: white;
  font-weight: 600;
}

.add-task-btn23:focus .change-color-white {
  filter: brightness(0) invert(1);
}

.add-task-btn22 {
  width: 95px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 8px 40px 8px 40px;
  font-size: 15px;
}

.add-task-btn22:hover {
  transition: trasform ease-in-out 100ms;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.01) 0px 8px 4px, rgba(0, 0, 0, 0.01) 0px 6px 2px, rgba(0, 0, 0, 0.01) 0px 2px 2px;
}

.add-task-btn22:focus {
  background-color: #FFA800;
  color: white;
  font-weight: 600;
}

.add-task-btn22:focus .change-color-white {
  filter: brightness(0) invert(1);
}



.difficulty-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-task-btn3 {
  font-size: 17px;
  width: 130px;
  background-color: #2B3647;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.add-task-btn3:hover {
  background-color: #2ebbda;
  transition: trasform ease-in-out 100ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.add-task-btn-cancel {
  font-size: 17px;
  width: 105px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  gap: 10px;
}

.plus-x {
  font-weight: lighter;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-done img {
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
}


.add-task-btn-cancel:hover {
  border-color: #2ebbda;
  color: #2ebbda;
  transition: trasform ease-in-out 100ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  right: -400px;
  transform: translate(50%, -50%) scale(1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, right 0.4s;
}

.open-popup {
  visibility: visible;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
  z-index: 2;
}

.difficulty-level img {
  width: 15px;
  display: flex;
  margin-left: 5px;
}

footer {
  display: none;
}

.add-task-container-main {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 0px 40px;
}

.checkbox1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.checkbox1 h5 {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

.circle-0 {
  width: 18px;
  height: 18px;
  background-color: #FF7900;
  border-radius: 50%;
  align-items: center;
}

.circle-1 {
  width: 18px;
  height: 18px;
  background-color: #FC71FF;
  border-radius: 50%;
}

.circle-2 {
  width: 18px;
  height: 18px;
  background-color: #20D7C0;
  border-radius: 50%;
}

.circle-3 {
  width: 18px;
  height: 18px;
  background-color: #0038FF;
  ;
  border-radius: 50%;
}

.circle-4 {
  width: 18px;
  height: 18px;
  background-color: #ffee00;
  border-radius: 50%;
}




.subfolder:hover .circle-0 {
  width: 14px;
  height: 14px;
  border: 1.5px solid white;
  margin: 1px;
  background-color: #FF7900;
}

.subfolder:hover .circle-1 {
  width: 14px;
  height: 14px;
  border: 1.5px solid white;
  margin: 1px;
  background-color: #FC71FF;
}

.subfolder:hover .circle-2 {
  width: 14px;
  height: 14px;
  border: 1.5px solid white;
  margin: 1px;
  background-color: #20D7C0;
}

.subfolder:hover .circle-3 {
  width: 14px;
  height: 14px;
  border: 1.5px solid white;
  margin: 1px;
  background-color: #0038FF;
  ;
}

.subfolder:hover .circle-4 {
  width: 14px;
  height: 14px;
  border: 1.5px solid white;
  margin: 1px;
  background-color: #ffee00;
}

.hidden {
  display: none;
}

.checkbox {
  height: 10px;
  margin-right: 16px;
}

.invite-png {
  height: 17px;
  margin-right: 16px;
}

.overflow {
  overflow: auto;
  max-height: 70px;
  width: 100%;
  overflow-y: scroll;
}

.overflow::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 6px;
}

.overflow::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #777;
}

.overflow::-webkit-scrollbar-corner {
  background-color: transparent;
}

#change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#change h4 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 12px;
}

.new-category-container{
  display: flex;
}

.input-category {
  width: 100%;
  height: 38px;
  border-radius: 10px;
  padding: 0px 2px 2px 12px;
  border: solid 1px;
  border-color: rgb(195, 189, 189);
  color: black;
  border-right: none;
}

.input-category:focus {
  outline: none;
}

.cancel-icon{
  width: 16px;
  height: 16px;
  font-weight: lighter;
  cursor: pointer;
}

.done-icon2{
  width: 18px;
  height:18px;
  font-weight: lighter;
  cursor: pointer;
  margin-right: 10px;
}

.strich-gray4{
  background-color: rgb(166, 166, 166);
  width: 2px;
  height: 20px;
  margin-left: 14px;
  margin-right: 14px;
}

.position{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-color: rgb(195, 189, 189);
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  background-color: white;
  height: 40px;
  margin-left: -12px;
}

.cancel-icon:hover {
  filter: brightness(0) saturate(100%) invert(8%) sepia(97%) saturate(7488%) hue-rotate(12deg) brightness(92%) contrast(114%);
}

.done-icon2:hover {
  filter: saturate(10%) invert(80%) sepia(97%) saturate(7488%) hue-rotate(12deg) brightness(92%) contrast(114%);
}

.colorCategory{
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 12px;
}


.color1 {
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
}

.color1:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: red;
}

.color2 {
  width: 18px;
  height: 18px;
  background-color: green;
  border-radius: 50%;
  align-items: center;
}

.color2:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: green;
}

.color3 {
  width: 18px;
  height: 18px;
  background-color: orange;
  border-radius: 50%;
  align-items: center;
}

.color3:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: orange;
}

.color4 {
  width: 18px;
  height: 18px;
  background-color: rgb(0, 255, 242);
  border-radius: 50%;
  align-items: center;
}

.color4:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: rgb(0, 255, 242);
}

.color5 {
  width: 18px;
  height: 18px;
  background-color: rgb(106, 255, 0);
  border-radius: 50%;
  align-items: center;
}

.color5:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: rgb(106, 255, 0);
}
.color6 {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 247);
  border-radius: 50%;
  align-items: center;
}

.color6:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: rgb(255, 0, 247);
}

.color7 {
  width: 18px;
  height: 18px;
  background-color: rgb(123, 0, 255);
  border-radius: 50%;
  align-items: center;
}

.color7:hover {
  width: 14px;
  height: 14px;
  border: solid 1px white;
  margin: 1px;
  background-color: rgb(123, 0, 255);
}





