.contactBoard {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*align-items: center;
    /*margin-top: 68px;
    margin-left: 40px;*/
    margin-right: 40px;
    margin-bottom: 70px;
}

.contactOverview {
    /*margin-left: 40px; */
    margin-left: 500px;
    /* position: sticky; */
    /* margin-top: 0; */
    position: absolute;
    position: fixed;
}

.boardDescription {
    /*display: flex;*/
    flex-direction: row;
}

.contactBoard h1 {
    font-size: 61px;
    font-weight: 700;
    /*margin-left: 40px;*/
}

.boardSlogan {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    /* or 32px */
    color: #2A3647;
    border-left: 3px solid #29ABE2;
    padding: 10px;
    /*padding-left: 30px;*/
    /*margin-left: 30px;
    margin-top: 55px;*/
    margin-bottom: 47px;
    /*margin-right: 40px;*/
}

.contactContainer {
    position: absolute;
    width: 453px;
    /*width: 250px;*/
    min-height: 100vh;
    /*left: 232px;*/
    /*top: 89px;*/
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.contactListing {
    /*padding: 2px 48px 0px 48px; */
    margin: 2px 0px 0px 48px;
    /*border-bottom: 1px solid #D1D1D1;
    width: 323px;*/
    /* height: 0px; */
    /* border: 1px solid #D1D1D1; */
    border-radius: 3px;
    /*width: 300px;*/
    /*overflow-x: hidden;
    overflow-y: scroll;*/

}

.contactGroup {
    margin-right: 47px;
}

.line {
    border-bottom: 1px solid #D1D1D1;
    width: 357px;
    /*padding-left: 17px;
    padding-right: 17px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: 16px;
}

.contactLetter {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    display: flex;
    align-items: center;
    color: #000000;
    height: 40px;
    width: 282px;
    left: 37.5px;
    padding-left: 37px;
    padding-bottom: 8px;
    top: 10px;
    border-radius: nullpx;
}

.initialsSection {
    display: flex;
    margin-bottom: 25px;
}

.circle {
    display: flex;
    align-items: center;
    /*border: 2px solid white;*/
    border-radius: 50%;
}

.initials {
    /*display: flex;*/
    font-weight: 500;
    font-size: 47px;
    line-height: 182%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    /*display: inline-block;*/
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: white;
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: orange;
}

.contactName {
    margin-left: 25px;
}

/*Left Side*/
.initialsSectionLeft {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 11px;
    padding: 15px;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;
}

.initialsSectionLeft:hover {
    background: #2A3647;
    border-radius: 10px;
    color: var(--text-secondary-color);
    color: white;
}

.initialsSectionLeft:hover h2 {
    background: #2A3647;
    border-radius: 10px;
    color: white;
}

:root {
    --text-secondary-color: #ffffff;
}


.circleLeft {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
}

.initialsLeft {
    font-weight: 400;
    font-size: 12px;
    line-height: 334%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    text-transform: capitalize;
    /*display: inline-block;*/
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: orange;
}

.contactNameLeft h2 {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 56px */
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
}

.contactNameLeft:hover h2 {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 56px */
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0;
}

.taskForNameLeft {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    /* Ligth blue */
    color: #29ABE2;
    cursor: pointer;
}

/**/

/*Contact Details start*/

.contactName h2 {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    /* or 56px */
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
}

.taskForName {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    /* Ligth blue */
    color: #29ABE2;
    cursor: pointer;
}

.taskForName:hover {
    border-bottom: #29ABE2;
}

.contactInformation {
    display: flex;
    align-items: center;
}

.contactGeneral {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    display: flex;
    align-items: center;
    color: #000000;
}

.editPencil {
    width: 15px;
    height: auto;
    padding-right: 5px;

}

.contactEdit {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    /* Version 2/ main color  */
    color: #2A3647;
    padding-left: 45px;
    cursor: pointer;
}

/**/

/*add Contact BTN start*/

.addContactContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.addContactBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 193px;
    height: 53px;
    right: 52px;
    top: 85%;
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;

}

.contactBTNcontent {
    line-height: 120%;
    font-weight: 700;
    font-family: inter;
    color: white;
    height: 25px;
    width: 130px;
    font-size: 20px;
}

.addContactBtn:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}

/*add Contact BTN end*/

/*Overlay Edit start*/

.overlayEditContactContainer {
    /*display: none;*/
    display: flex;
    position: fixed;

    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 1100px;
    height: 494px;
}

.overlayLogo {
    position: absolute;
    right: 92.43%;
    top: 25.17%;
    width: 48px;
    height: auto;
}

.headlineEdit {
    background-color: #2A3647;
    width: 806px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    color: #FFFFFF;
}

.overlayHeadlineEdit {
    font-size: 53px;
}

.overlayLine {
    height: 90px;
    border: 1.5px solid #29ABE2;
    transform: rotate(90deg);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    display: flex;
    position: absolute;
    /* right: 22.43%; */
    left: 7%;
    top: 49.17%;
    /* flex-direction: column; */
    border-radius: 10px;
}

.editSection {
    padding-left: 56px;
}

.closingCross {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    margin-right: 50px;
    top: 6%;
    left: 95%;
    cursor: pointer;
}

.initialsSectionOverlay {
    display: flex;
    margin-bottom: 25px;
}

.editInputs {
    margin-left: 56px;
}

.inputs {
    width: 400px;
    height: 40px;
    border-style: unset;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: right 30px center;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
    color: #000000;
}

.editContainer {
    display: flex;
    gap: 25px;
    margin-left: 140px;
}

.editContactBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*position: fixed;*/
    width: 153px;
    height: 55px;
    right: 52px;
    /*top: 90%;*/
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    /*z-index: 10;*/
}

.editcontactBTNcontent {
    line-height: 120%;
    font-weight: 700;
    font-family: inter;
    color: white;
    height: 25px;
    width: 130px;
    font-size: 20px;
}

.editContactBtn:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}

.deleteContactBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*position: fixed;*/
    width: 98px;
    height: 55px;
    right: 52px;
    /*top: 90%;*/
    background-color: #ffffff;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    /*z-index: 10;*/
}

.deletecontactBTNcontent {
    line-height: 120%;
    font-weight: 700;
    font-family: inter;
    color: #2A3647;
    height: 25px;
    width: 130px;
    font-size: 20px;
}

.deleteContactBtn:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}

/*Overlay end*/

.overlayADDContactContainer {
    /*display: none;*/
    display: flex;
    position: fixed;

    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 1100px;
    height: 494px;
}

.overlayHeadlineAdd {
    font-size: 53px;
}

h6 {
    margin: 0;
}

.overlayLineAdd {
    height: 90px;
    border: 1.5px solid #29ABE2;
    transform: rotate(90deg);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    display: flex;
    position: absolute;
    /* right: 22.43%; */
    left: 7%;
    top: 51.17%;
    /* flex-direction: column; */
    border-radius: 10px;
}

.createUserPic {
    /*display: flex;*/
    font-weight: 500;
    font-size: 47px;
    line-height: 182%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    /*display: inline-block;*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: #D1D1D1;
}

.newUserPic {
    width: 41px;
    color: white;
}

.createContainer {
    display: flex;
    gap: 25px;
    margin-left: 65px;
}

.createContactBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*position: fixed;*/
    width: 215px;
    height: 55px;
    right: 52px;
    /*top: 90%;*/
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    /*z-index: 10;*/
    padding: 18px 15px 18px 15px;
}

.createContactBtn:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}

.createcontactBTNcontent {
    line-height: 120%;
    font-weight: 700;
    font-family: inter;
    color: white;
    height: 25px;
    width: 215px;
    font-size: 20px;
}

.createContactBtnMobil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*position: fixed;*/
    width: 55px;
    height: 55px;
    right: 52px;
    /*top: 90%;*/
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    /*z-index: 10;*/
    padding: 18px 15px 18px 15px;
}

.createContactBtnMobil:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}


.cancelContactBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*position: fixed;*/
    width: 115px;
    height: 55px;
    right: 52px;
    /*top: 90%;*/
    background-color: #ffffff;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    /*z-index: 10;*/
    padding: 18px 15px 18px 15px;
}

.cancelcontactBTNcontent {
    line-height: 120%;
    font-weight: 700;
    font-family: inter;
    color: #2A3647;
    height: 25px;
    width: 130px;
    font-size: 20px;
}

.cancelContactBtn:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}

.cancelContactBtnMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*position: fixed;*/
    width: 45px;
    height: 45px;
    right: 52px;
    /*top: 90%;*/
    background-color: #ffffff;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    /*z-index: 10;*/
    padding: 18px 15px 18px 15px;
    margin: 10px;
}

.cancelContactBtnMobile:hover {
    background-color: #2ebbda;
    transition: trasform ease-in-out 100ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: none;
}

.backwards {
    position: absolute;
    top: 75px;
    left: 75vw;
}

.backwardsContactList {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 18px 15px 18px 15px;

}

.backwardsContactList:hover {
    transition: trasform ease-in-out 100ms;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;*/
    border: none;
    cursor: pointer;
}

.respBTNsAdaption {
    position: absolute;
    top: 65vh;
    left: 75vw;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .initialsSection {
        margin: 1px;
    }

    .boardDescription {
        margin: 1px;
    }

    .contactEdit {
        display: none;
    }
}


@media only screen and (min-width: 1001px) {
    .contactContainer {
        position: absolute;
        width: 453px;
        /* width: 250px; */
        min-height: 100vh;
        left: 232px !important;
        top: 89px;
        background: #FFFFFF;
        box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    }
}

@media only screen and (min-width: 1176px) {

    .boardSlogan {
        font-weight: 400;
        font-size: 27px;
        line-height: 120%;
        /* or 32px */
        color: #2A3647;
        border-left: 3px solid #29ABE2;
        padding: 10px;
        padding-left: 30px;
        margin-left: 30px;
        margin-top: 55px;
        margin-bottom: 47px;
        margin-right: 40px;
    }

    .boardDescription {
        display: flex;
        flex-direction: row;
    }
}