p {
  margin-top: 0;
  margin-bottom: 0;
}

.fixed-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.fixed-header {
  position: fixed;
  left: 255px;
  right: 0;
  top: 0;
  z-index: 9;
}

.legal-notice-container-main {
  display: flex;
  flex-direction: column;
  margin: 50px 30px 0px 300px;
  padding-bottom: 30px;
}

.color-legal-notice {
  color: #2b3647;
}

.legal-notice-h1 {
  font-size: 45px;
}

.legal-notice-font-size {
  font-size: 18px;
}
