body {
    margin: 0;
    background-color: #f5f5f5;
}

.d-none {
    display: none !important;
}

.headline-one {
    font-size: 56px;
    margin-bottom: 15px;
}

@keyframes moveLogo {
    0% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(3);
    }
    100% {
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(0, 0) scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.login-header-container {
    display: flex;
    justify-content: flex-end;
    margin: 50px 150px 0px 100px;
}

.move-logo-animation {
    height: 150px;
    object-fit: cover;
    animation: moveLogo 1.5s ease-in-out forwards;
}

.login-header-container-sign-up {
    opacity: 0; 
    animation: fadeIn 0.4s ease-in forwards 1.2s;
}

.sign-up-button {
    width: 91px;
    height: 51px;
    border-radius: 8px;
    font-size: 16px;
    border-style: unset;
    background-color: #2A3647;
    color: white;
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
}

.button-hover-lightblue:hover{
    background-color: #29ABE2;
}

.sign-up-span {
    font-size: 21px;
    margin-right: 30px;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    opacity: 0;
    animation: fadeIn 0.4s ease-in forwards 1.2s;
}

#msg-box {
    position: absolute;
    bottom: 250px;
    background-color: #2A3647;
    color: white;
    padding: 20px;
    border-radius: 8px;
    animation: fadeOut 0.5s ease-in forwards 2.5s;
}

.login-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 652px;
    height: 513px;
    position: relative;
}

.log-in-underline {
    border: 1px solid #29ABE2;
    width: 125px;
    margin-bottom: 20px;
}

.login-form-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.inputs {
    width: 422px;
    height: 50px;
    border-style: unset;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: right 30px center;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
}

.inputs::placeholder{
    font-size: 20px;
    color: #D1D1D1;
}

.remember-me-container {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.remember-me-container input{
    margin-left: 45px;
    cursor: pointer;
}

.remember-me-container span {
    font-size: 18px;
}

.login-forgot-my-password {
    margin-left: 48px;
    color: #29ABE2;
    cursor: pointer;
}

.login-forgot-my-password:hover{
    text-decoration: underline;
}

.log-in-button-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.dark-blue-button {
    background-color: #2A3647;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    border-style: unset;
    font-size: 21px;
    cursor: pointer;
}

.guest-log-in-button {
    width: 160px;
    height: 50px;
    border-radius: 8px;
    border-style: unset;
    font-size: 21px;
    cursor: pointer;
    background-color: white;
    color: #2A3647;
    font-weight: bold;
    border: 1px solid #2A3647 !important;
}

.guest-log-in-button:hover{
    border: 1px solid #29ABE2 !important;
    color: #29ABE2;
}

.sign-up-container {
    margin-top: 51px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 652px;
    height: 513px;
    position: relative;
}

.sign-up-container img {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 30px;
    cursor: pointer;
}

.sign-up-form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up-button-container{
    display: flex;
    justify-content: center;
}

.forgot-my-password-container {
    margin-top: 51px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 826px;
    height: 513px;
    position: relative;
}

.forgot-my-password-container p {
    font-size: 21px;
    text-align: center;
}

.forgot-my-password-form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.forgot-my-password-form-container button {
    height: 50px;
    border-radius: 8px;
    border-style: unset;
    font-size: 21px;
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    width: 250px;
}

.forgot-my-password-container img {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 30px;
    cursor: pointer;
}

.user-not-found {
    text-align: center;
    font-size: 21px;
    color: red;
}