/* (max-width: 1000px) */


@media only screen and (max-width: 1000px) {
  #header-template {
    display: none;
  }

  .header-right {
    width: 100%;
  }

  footer {
    height: 10vh;
    background-color: #2B3647;
  }
  .board-1{
    width: 100%;
  }
  .board-2{
    width: 70%;
  }

  .box4{
    width: 100%;
  }
  .board-3{
    width: 100%;
    gap: 140px;
  }

  .box4:hover {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
    position: fixed;
  }

  footer a{
    text-decoration: none;
    color: white;
  }

  .footer h4 {
    font-weight: 300;
  }

  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .main-container {
    height: 90vh;
  }

  .greeting {
    display: none;
  }

  .summary {
    display: none;
  }

  .header-m {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 25px 0 0;
    background-color: white;
    position: fixed;
    z-index: 1;
  }

  .Content {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .join-m {
    width: 30px;
    margin-left: 20px;
  }

  .boards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }

  .summary-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 35px;
    width: 67%;
  }

  .summary-m h3 {
    font-weight: 300;
    font-size: 25px;
  }

  .summary-m p {
    font-weight: 200;
    font-size: 19px;
  }

  .summary-m h1 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .prozent-m {
    width: 20%;
    height: 3px;
    background-color: #28ABE2;
    margin-bottom: 20px;
  }

  .sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .bm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .am {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .cm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }

  /* Board HTML */

  .board {
    padding-top: 100px;
    display: none;
  }

  .box-container {
    width: 85%;
    padding: 0;
    margin: 0;
  }

  .board-m {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
  }

  .board-m p {
    font-size: 19px;
  }

  .board-p p {
    font-size: 45px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .board-p {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .s-btn {
    text-decoration: none;
  }

  .add-task-btn {
    width: 45px;
    height: 45px;
    padding-top: 0;
  }

  .plus {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }

  .inp-container {
    width: 80%;
    height: 43px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .box-container {
    padding-top: 10px;
    width: 85%;
    margin-left: 45px;
  }

  .dragdrop {
    width: 255px;
    height: 220px;
    margin-top: 10px;
  }

  .child-container {
    width: 220px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
  }


  /* Add Task HTML*/


  .add-task-container-main{
    height: 130vh;
/*     width: 100%;
 */  }

  .first-container{
    display: flex;
    width: 98%;
    flex-direction: column !important;
  }
  .child-container-left{
    width: 100% !important;
    display: flex;
  }
  .child-container-right{
    width: 100% !important;
    display: flex;
    margin-top: 40px;
  }
  .add-task-h1{
    margin: 15px 0px 0px 30px !important;
  }

  .right2,
  .strich-gray3{
    display: none !important;
  }
}



/* (min-width: 1001px) */

@media only screen and (min-width: 1001px) {
  .summary-m {
    display: none;
  }
  footer a{
    text-decoration: none;
  }

  .header-m {
    display: none;
  }

  .board-m {
    display: none;
  }

}


/* (min-width: 1135px) */


@media only screen and (min-width: 1135px) {
  #greet-user {
    font-size: 80px;
  }

  #greeting {
    font-size: 70px;
  }
  footer a{
    text-decoration: none;
  }
  .greeting {
    vertical-align: top;
    width: 15%;
    top: 350px;
    right: 100px;
    position: absolute;
  }
}

/* (max-width: 1134px) */


@media only screen and (max-width: 1134px) {
  #greet-user {
    font-size: 60px;
  }

  #greeting {
    font-size: 50px;
  }
  footer a{
    text-decoration: none;
  }

  .greeting {
    vertical-align: top;
    width: 15%;
    top: 385px;
    right: 100px;
    position: absolute;
  }
}


/* (max-width: 1135px) */


@media only screen and (max-width: 1035px) {
  #greet-user {
    font-size: 50px;
  }

  #greeting {
    font-size: 50px;
  }
  footer a{
    text-decoration: none;
  }

  .greeting {
    vertical-align: top;
    width: 10%;
    top: 390px;
    right: 100px;
    position: absolute;
  }
}

/* (max-width: 550px) */

@media only screen and (max-width: 550px) {
  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
    background-color: #FFFFFF;
    border: solid 1px #f1eeee;
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.2s;
  }
  footer a{
    text-decoration: none;
  }

  .box1:hover {
    background-color: #2B3647;
    color: white;
    width: 135px;
    height: 105px;
    box-shadow: rgb(66, 65, 65) 0px 2px 8px 0px;
    border: none;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
    background-color: #FFFFFF;
    border: solid 1px #f1eeee;
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.2s;
  }

  .box2:hover {
    background-color: #2B3647;
    color: white;
    width: 135px;
    height: 105px;
    box-shadow: rgb(66, 65, 65) 0px 2px 8px 0px;
    border: none;
  }

  .box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
    background-color: #FFFFFF;
    border: solid 1px #f1eeee;
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.2s;
  }

  .box3:hover {
    background-color: #2B3647;
    color: white;
    width: 135px;
    height: 105px;
    box-shadow: rgb(66, 65, 65) 0px 2px 8px 0px;
    border: none;
  }

  .box4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: #FFFFFF;
    border: solid 1px #f1eeee;
    border-radius: 20px;
    transition: transform 0.2s;
    margin: 30px 0px 30px 0px;
    text-decoration: none;
    gap: 20px;
    color: black;
  }

  .box4:hover {
    background-color: #2B3647;
    color: white;
    width: 405px;
    height: 105px;
    box-shadow: rgb(66, 65, 65) 0px 2px 8px 0px;
    border: none;
  }

  .box5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 90px;
    background-color: #FFFFFF;
    border: solid 1px #f1eeee;
    border-radius: 20px;
    transition: transform 0.2s;
    gap: 20px;
  }

  div.box5:hover {
    background-color: #2B3647;
    color: white;
    width: 242px;
    height: 95px;
    box-shadow: rgb(66, 65, 65) 0px 2px 8px 0px;
    border: none;
  }

  div.box5:hover .change-color {
    filter: contrast(300%) invert(1);
  }

  div.box6:hover {
    background-color: #2B3647;
    color: white;
    width: 242px;
    height: 95px;
    box-shadow: rgb(66, 65, 65) 0px 2px 8px 0px;
    border: none;
  }

  .box6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 90px;
    background-color: #FFFFFF;
    border: solid 1px #f1eeee;
    border-radius: 20px;
    transition: transform 0.2s;
    gap: 20px;
  }

  .summary-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
    margin-bottom: 20px;
    width: 78%;
  }

  .boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 950px) {
  .board-2{
    width: 75%;
  }
  .summary-m {
    width: 70%;
  }
}
@media only screen and (max-width: 890px) {
  .board-2{
    width: 78%;
  }
  .summary-m {
    width: 79%;
  }
}
@media only screen and (max-width: 850px) {
  .board-2{
    width: 83%;
  }
  .summary-m {
    width: 85%;
  }
}
@media only screen and (max-width: 850px) {
  .board-2{
    width: 83%;
  }
  .summary-m {
    width: 88%;
  }
}
@media only screen and (max-width: 800px) {
  .board-2{
    width: 87%;
  }
  .summary-m {
    width: 95%;
  }
}
@media only screen and (max-width: 750px) {
  .board-2{
    width: 96%;
  }
}
@media only screen and (max-width: 700px) {
  .board-2{
    width: 102%;
  }
}

@media only screen and (max-width: 600px) {

  .box-container {
    padding-top: 10px;
    width: 460px;
    justify-content: center;
    margin-left: 45px;
  }

  .dragdrop {
    width: 350px;
    height: 250px;
    margin-top: 10px;
  }

  .child-container {
    width: 320px;
    height: 250px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .board-3{
    gap: 5px;
  }
  .board-1{
    gap: 5px;
  }
}

@media only screen and (max-width: 490px) {

  .box-container {
    padding-top: 10px;
    width: 360px;
    justify-content: center;
  }

  .dragdrop {
    width: 350px;
    height: 250px;
    margin-top: 10px;
  }

  .child-container {
    width: 320px;
    height: 250px;
  }
  footer a{
    text-decoration: none;
  }

}

@media only screen and (max-width: 600px) {

  .boards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
  }
  footer a{
    text-decoration: none;
  }
}


/*  Kontakt Seite */


@media only screen and (max-width: 1000px) {
  .sidebar{
    display: none !important;
  }
  #header{
    display: none;
  }

  .contactBoard{
    display: flex;
    height: 150vh;
  }
  .addContactBtn{
    position: absolute;
    top: 83px;
    z-index: 1;
    position: fixed;
  }
  .header-c{
    box-shadow: 0 -7px 6px -5px rgba(0, 0, 0, 0.17);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F7F8;
    position: fixed;
    z-index: 1;
    margin-top: 70px;
  }
  
  .boardDescription,
  .contactOverview{
    width: 0;
    margin: 0;
    padding: 0;
  }

  .contactContainer{
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .contactListing{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .boardSlogan{
    display: none !important;
    margin: 0;
    width: 0;
    padding: 0;
  }


}